In [1]:
import pandas as pd

In [13]:
train_df = pd.read_json('ranking_train.jsonl', lines=True)

In [14]:
train_df.head()

,text,comments
0,How many summer Y Combinator fundees decided n...,[{'text': 'Going back to school is not identic...
1,CBS acquires last.fm for $280m,[{'text': 'It will be curious to see where thi...
2,How Costco Became the Anti-Wal-Mart,[{'text': 'I really hate it when people falsel...
3,"Fortune Favors Big Turds | Screw The Money, Th...",[{'text': 'His real point is that something ca...
4,StartupWeekend: 70 Founders Create One Company...,[{'text': 'Looks like someone hasn't read The ...

In [15]:
df = train_df.explode('comments', ignore_index=True)

In [16]:
df.head(10)

,text,comments
0,How many summer Y Combinator fundees decided n...,{'text': 'Going back to school is not identica...
1,How many summer Y Combinator fundees decided n...,{'text': 'There will invariably be those who d...
2,How many summer Y Combinator fundees decided n...,{'text': 'For me school is a way to be connect...
3,How many summer Y Combinator fundees decided n...,{'text': 'I guess it really depends on how hun...
4,How many summer Y Combinator fundees decided n...,{'text': 'I know pollground decided to go back...
5,CBS acquires last.fm for $280m,{'text': 'It will be curious to see where this...
6,CBS acquires last.fm for $280m,{'text': 'Does this mean that there's now a bi...
7,CBS acquires last.fm for $280m,{'text': 'Also on BBC News: http://news.bbc.c...
8,CBS acquires last.fm for $280m,{'text': 'I don't understand what they do that...
9,CBS acquires last.fm for $280m,{'text': 'sold out too cheaply. given their le...

In [17]:
df_comments = pd.json_normalize(df['comments'])

In [18]:
map_dict = {0: 1, 1: 0.8, 2: 0.6, 3: 0.4, 4: 0.2}

df_comments['score'] = df_comments['score'].map(map_dict)
df_comments.columns = ['comment', 'score']

In [19]:
df = pd.merge(df['text'], df_comments, left_index=True, right_index=True)

In [20]:
df

,text,comment,score
0,How many summer Y Combinator fundees decided n...,Going back to school is not identical with giv...,1.0
1,How many summer Y Combinator fundees decided n...,There will invariably be those who don't see t...,0.8
2,How many summer Y Combinator fundees decided n...,For me school is a way to be connected to what...,0.6
3,How many summer Y Combinator fundees decided n...,I guess it really depends on how hungry you ar...,0.4
4,How many summer Y Combinator fundees decided n...,I know pollground decided to go back to school...,0.2
...,...,...,...
440530,Pay your rent with a Credit or Debit card. No ...,Most major banks offer a service called &#x27;...,1.0
440531,Pay your rent with a Credit or Debit card. No ...,"It costs 3.25%, or $74.25 for the example of $...",0.8
440532,Pay your rent with a Credit or Debit card. No ...,As many other comments have pointed out almost...,0.6
440533,Pay your rent with a Credit or Debit card. No ...,My apartment building uses Yapstone&#x27;s Ren...,0.4
440534,Pay your rent with a Credit or Debit card. No ...,Video seems in poor taste.,0.2